In [2]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [3]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@127.0.0.1/postgres')

In [19]:
df = pd.read_sql('''SELECT Customers.id as Customers_id, Customers.full_name as customer_full_name, Customers.pasport_data,
                    contract.id as contract_id, contract.payment, contract.agrement_date, contract.expiration_date,
                    contract.PMC_id as contract_pmc_id, contract.customer_id as contract_customer_id,
                    PMC.id as PMC_id, PMC.full_name as PMC_full_name, PMC.rank, PMC.number_of_group, PMC.info_id, PMC.entry_id,
                    PMC.weapon_id, PMC.achi_id as achieviement_id, PMC.vacation_id,
                    entry_contract.id as entry_contract_id, entry_contract.date_of_entry, entry_contract.date_end_service,
                    vacations.id as vacations_id, vacations.start_date, vacations.end_date,
                    personal_info.id as personal_info_id, personal_info.medcart, personal_info.military_ticket, personal_info.bank_detail,
                    achievement.id as achievement_id, achievement.merit,
                    weapon.id as weapon_id, weapon.model,
                    Groups.id as Groups_id, Groups.title, Groups.transport_id as Groups_transport_id, 
                    Transport.id as Transport_id, Transport.model, Transport.status
                    FROM Customers
                    left JOIN contract ON Customers.id = contract.Customer_id
                    left JOIN PMC ON contract.PMC_id = PMC.id
                    left JOIN entry_contract ON entry_contract.id = PMC.entry_id
                    left JOIN vacations ON vacations.id = PMC.vacation_id
                    left JOIN personal_info ON personal_info.id = PMC.info_id
                    left JOIN achievement ON achievement.id = PMC.achi_id
                    left JOIN weapon ON weapon.id = PMC.weapon_id
                    left JOIN Groups ON Groups.id = PMC.number_of_group
                    left JOIN Transport ON Transport.id = Groups.Transport_id''', engine)

In [20]:
df.head()

,customers_id,customer_full_name,pasport_data,contract_id,payment,agrement_date,expiration_date,contract_pmc_id,contract_customer_id,pmc_id,...,achievement_id,merit,weapon_id,model,groups_id,title,groups_transport_id,transport_id,model,status
0,2,Иван Иванов,2677421,1.0,10000000.0,2006-11-11,2007-10-11,3.0,2.0,3.0,...,NaN,None,3.0,ПП-Витязь,2.0,USEC,2.0,2.0,Велосипед,В строю
1,2,Иван Иванов,2677421,2.0,10000000.0,2006-11-11,2007-10-11,6.0,2.0,6.0,...,NaN,None,2.0,АК-74М,2.0,USEC,2.0,2.0,Велосипед,В строю
2,2,Иван Иванов,2677421,3.0,10000000.0,2006-11-11,2007-10-11,5.0,2.0,5.0,...,NaN,None,5.0,РПГ-7,3.0,Дикие,3.0,3.0,БМП-1,На ремонте
3,1,Александр Путин,3423517,4.0,100000000.0,2022-02-24,2023-06-23,1.0,1.0,1.0,...,2.0,"В ходе операции, доказал, что он Dungeon Master",1.0,АК-12,1.0,BEAR,1.0,1.0,УРАЛ,В строю
4,1,Александр Путин,3423517,5.0,100000000.0,2022-02-24,2023-06-23,2.0,1.0,2.0,...,1.0,Создал компанию,2.0,АК-74М,1.0,BEAR,1.0,1.0,УРАЛ,В строю

In [21]:
df = df.fillna(0)

In [8]:
pd.Timestamp.now()

Timestamp('2023-10-16 18:44:11.060839')

In [22]:
df['date_of_load'] = pd.Timestamp.now()

In [23]:
df.head()

,customers_id,customer_full_name,pasport_data,contract_id,payment,agrement_date,expiration_date,contract_pmc_id,contract_customer_id,pmc_id,...,merit,weapon_id,model,groups_id,title,groups_transport_id,transport_id,model,status,date_of_load
0,2,Иван Иванов,2677421,1.0,10000000.0,2006-11-11,2007-10-11,3.0,2.0,3.0,...,0,3.0,ПП-Витязь,2.0,USEC,2.0,2.0,Велосипед,В строю,2023-10-16 18:46:40.592762
1,2,Иван Иванов,2677421,2.0,10000000.0,2006-11-11,2007-10-11,6.0,2.0,6.0,...,0,2.0,АК-74М,2.0,USEC,2.0,2.0,Велосипед,В строю,2023-10-16 18:46:40.592762
2,2,Иван Иванов,2677421,3.0,10000000.0,2006-11-11,2007-10-11,5.0,2.0,5.0,...,0,5.0,РПГ-7,3.0,Дикие,3.0,3.0,БМП-1,На ремонте,2023-10-16 18:46:40.592762
3,1,Александр Путин,3423517,4.0,100000000.0,2022-02-24,2023-06-23,1.0,1.0,1.0,...,"В ходе операции, доказал, что он Dungeon Master",1.0,АК-12,1.0,BEAR,1.0,1.0,УРАЛ,В строю,2023-10-16 18:46:40.592762
4,1,Александр Путин,3423517,5.0,100000000.0,2022-02-24,2023-06-23,2.0,1.0,2.0,...,Создал компанию,2.0,АК-74М,1.0,BEAR,1.0,1.0,УРАЛ,В строю,2023-10-16 18:46:40.592762

In [24]:
df.to_excel('Romanov_kt5(6).xlsx', index=False)